<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lll.ideas.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.lll.ideas.pojo.User">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <id column="username" jdbcType="VARCHAR" property="username"/>
        <id column="password" jdbcType="VARCHAR" property="password"/>
        <id column="gender" jdbcType="TINYINT" property="gender"/>
        <id column="phone" jdbcType="VARCHAR" property="phone"/>
        <id column="info" jdbcType="VARCHAR" property="info"/>
        <id column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <id column="create_time" jdbcType="DATE" property="createTime"/>
    </resultMap>
    <insert id="insertUser" parameterType="com.lll.ideas.pojo.User" useGeneratedKeys="true" keyProperty="userId">
        insert into idea.user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="info != null">
                info,
            </if>
            <if test="avater != null">
                avater,
            </if>
            <if test="createTime!=null">
                create_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=TINYINT},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                #{info,jdbcType=INTEGER},
            </if>
            <if test="userPwd != null">
                #{avater,jdbcType=VARCHAR},
            </if>
            <if test="createTime !=null">
                #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>

    </insert>

    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from ideas.user
        where user_id=#{userId}
    </delete>

    <update id="updateUser" parameterType="com.lll.ideas.pojo.User">
        update ideas.user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="info != null">
                info = #{info},
            </if>
            <if test="avatar != null">
                avatar = #{avatar}
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from ideas.user
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from ideas.user
        where username = #{username}
    </select>

    <select id="selectLikeUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from ideas.user
        where username like concat(concat('%',#{username}),'%')
    </select>

    <select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from ideas.user
        where phone = #{phone}
    </select>

</mapper>
